$bgcolor:#1F2123;
$primarycolor:#17a775;
$secondaryColor: rgb(200, 200, 200);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: $bgcolor;
    overflow-x: hidden;

}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;

}

// Navigation bar css !--- Start----!

nav {
    display: flex;
    height: 15vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding-left: 1.4rem;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin: 1rem 1rem;
    padding-top: 1rem;

    a {
        text-decoration: none;
        color: $primarycolor;
        font-size: 18px;
    }
}

.burger{
    margin-right: 30px;
    display: none;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:40px;
        height: 4px;
        background-color: $primarycolor;
        margin: 6px;
        border-radius: 15px;
        transition: 0.5s;
    }
}
@media screen and (max-width:500px) {
    
    .nav-items{        
            margin: 0;
            padding: 0;
            position: absolute;
            height: 85vh;
            right: 0%;
            top: 14vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transform: translateX(100%);   
            transition: transform 0.5s ease-in;  
            background-color: $bgcolor;
            z-index: 1;   
    }
    .nav-items li {
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .logo{
        margin-left: 0rem;
        padding-left: 0rem;
    }

}
.nav-active{
    transform: translate(0);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-9px, 10px);
}
.toggle .line2{
    
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}

// !---End---!

//First Content Section Starts Here----!!

.content {
    display: flex;
    width: 100vw;
    height: 85vh;
}

.context {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.headline-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    margin-top: 30%;
    margin-left: 10%;
    padding-top: 10%;
}

.headline {
    color: $secondaryColor;
    margin-left: 45%;
    font-weight: 300;
    font-size: 3rem;
    width: 100%;
}

button {
    background-color: $primarycolor;
    color: $secondaryColor;
    border: none;
    border-radius: 15px;
    align-self: center;
    cursor: pointer;
}

.cta {
    font-weight: 700;
    width: 200px;
    height: 90px;
    font-size: 1.5rem;
    margin-left: 50%;
}

.cta:hover {
    background-color: transparent;
    border: 2px solid $primarycolor;
    color: $primarycolor;
    transition: 0.5s;
}

.cover {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 8% 10%;
    align-items: center;
}

.cover-image {
    width: 658px;
    height: 648px;
    margin-left: 25%;
    margin-top: 15%;
}

@media screen and (max-width:500px) {
    .content{
        width: 100%;
    }
    .headline-text {
        margin-top: 50%;
        padding-top: 10%;
        margin-left: 0;
        width: 100%;
    }
    .headline {
    margin-left: 25%;
    font-weight: 300;
    font-size: 2rem;
    width: 100%;
    align-items: center;
}
.cover-image{
   display: none;
}
.cta {
    font-weight: 500;
    width: 150px;
    height: 60px;
    font-size: 1rem;
    margin-left: 0%;
}
}

// My Work Section starts here
.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 200vh;
    color: $secondaryColor;
    padding-top: 40px;
}

.underline1 {
    background-color: $secondaryColor;
    height: 5px;
    margin-top: 4px;
    width: 180px;
    align-self: center;
    border-radius: 20px;
}


.mywork {
    display: flex;
    flex-direction: column;
    padding: 100px;
    height: 100%;
    justify-content: space-evenly;
}

.projects {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    align-items: center;
}




.discription {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-left: 100px;
    padding: 0px 50px;
    padding-top: 20px;
    line-height: 30px;
}



.disheadline {
    font-size: 1.5rem;
    font-weight: 300;
}

.discription-text {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 30px;
    height: 100%;
    a{
        text-decoration: none;
        color: $secondaryColor;
        font-size: 1.5rem;
    }
    a:after{
        content:2192;
    }
}

.thumbnail {
    width: 320px;
    height: 231px;
    border-radius: 15px;
    filter: drop-shadow(7px -2px 4px rgba(135, 135, 135, 0.25));
}

@media screen and (max-width:500px) {
    .projects{
        flex-direction: column;
        justify-content: space-around;
    }
    .discription{
        width: 100%;
        height: 100vh;
        background-color: #17a775;
    }
}

//About Section Start
.content2 {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    overflow: hidden;
}



.image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    height: 631px;
    width: 420px;
    border: 5px solid #ffff;
    border-radius: 30px;
    filter: drop-shadow(20px 20px 5px #403c3c);
}

.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 2%;
    justify-content: space-evenly;
}

.abt-text {
    text-align: left;
    width: 100%;
    padding: 0 2rem;
    font-weight: 300;
    color: $secondaryColor;
}

.cta2 {

    font-weight: 700;
    width: 200px;
    height: 90px;
    font-size: 1.5rem;
    margin-right: 30%;
}

.cta2:hover {
    background-color: transparent;
    border: 2px solid $primarycolor;
    color: $primarycolor;
    transition: 0.5s;
}

// Expierence Section
.content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    padding: 2rem 0rem;
    color: $secondaryColor;
}

.heading {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    letter-spacing: 3px;
}

.underline {
    background-color: $secondaryColor;
    height: 5px;
    margin-top: 4px;
    width: 230px;
    align-self: center;
    border-radius: 20px;
}


.accordian1 {
    background-color: $primarycolor;
    width: 800px;
    height: 80px;
    border-radius: 15px;
    padding: 0.6rem 4rem;
}

.accordianTitle1 {
    font-size: 1rem;
}

.company {
    float: left;
    font-weight: 400;
}

.duration {
    float: right;
    padding-left: 8rem;
    font-weight: 300;
    font-style: italic;
}

.accordianContent1 span {
    display: flex;
    width: 100%;

    p {
        width: 100%;
        padding-top: 6px;
    }
}

// Projects page css

.pageHeading {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        color: $secondaryColor;
        padding: 3px;
    }

    .underline {
        width: 150px;
    }
}

@media screen and (max-width:500px) {
    body{
        overflow-x: hidden;
    }
}